@model CustomerVM
@{
    ViewBag.Title = "Customer";
    Layout = "_Layout";

}
<div class=" d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h2>Details</h2>
    <div class="float-right btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a type="button" class="btn btn-sm btn-outline-secondary" href="@Url.Action("CreateCustomer","Customer")">Add Customer</a>
        </div>
        <div class="btn-group me-2">
            <a type="button" class="btn btn-sm btn-outline-secondary" href="@Url.Action("UpdateCustomer","Customer", new { customerId = Model.Id })">Update Customer</a>
        </div>
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="deleteCustomer()">Delete Customer</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <dl>
            <dt>Name:</dt>
            <dd>@Model.CustomerName</dd>
            <dt>Type:</dt>
            <dd>@Model.CustomerType</dd>
        </dl>
    </div><!--col -->
</div><!-- row -->

@section Scripts{
    <script type="text/javascript">
        const deleteCustomerUrl = '@Url.Action("DeleteCustomer", "Customer")';
        const customersUrl = '@Url.Action("Customers", "Customer")';

        const customerId = '@Model.Id';
        function deleteCustomer() {
            if (customerId) {
                $.post(deleteCustomerUrl + '?customerId=' + customerId, function () {
                    window.location.href = customersUrl;
                });
            }
        }

        function closeModal() {
            $("#delete-modal").modal('hide');
        }

    </script>
}