@model DiscountsVM
@{
    ViewBag.Title = "Discounts";
    Layout = "_Layout";

}

<div class=" d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h2>Discounts</h2>
    <div class="float-right btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a type="button" class="btn btn-sm btn-outline-secondary" href="@Url.Action("CreateDiscount","Discount")">Add Discount</a>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm ListTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (var index = 0; index < Model.Discounts?.Count(); index++)
            {
                var discount = Model.Discounts.ElementAt(index);
                <tr class="@(index == 0 ? "active" : "")"
                    style="cursor: pointer">
                    <td data-label="Name">@discount.DiscountName</td>
                    <td data-label="Type">@discount.DiscountType</td>
                    <td data-label="Value">@discount.DiscountValue</td>
                    <td data-label="Actions" class="LTActions">
                        <a href='@Url.Action("Discount","Discount", new { discountId = discount.Id })' rel="tooltip" class="btn btn-link ActionBtn"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a href='@Url.Action("UpdateDiscount","Discount", new { discountId = discount.Id })' rel="tooltip" class="btn btn-link ActionBtn"><i class="fa fa-pen" aria-hidden="true"></i></a>
                        <button class="btn btn-link ActionBtn"
                                type="button"
                                onclick="openDeleteModal(this)"
                                rel="tooltip"
                                data-discount-id="@discount.Id">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        Total Discounts : @Model.Discounts?.Count()
    </p>
</div>


<inpt class="hidden" id="discount-id"></inpt>
<!-- Delete Modal-->
<div class="modal" id="delete-modal" role="dialog" aria-labelledby="insert-modal-title" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Delete Discount</div>
            </div><!-- modal-header -->

            <div class="modal-body">
                Are you sure you want to delete this discount?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="deleteDiscount()">Yes</button>
                <button type="button" class="btn btn-default" onclick="closeModal()">No</button>
            </div><!-- modal-footer -->
        </div>
    </div>
</div>
<!-- /Delete Modal-->

@section Scripts
{
    <script type="text/javascript">
        const deleteDiscountUrl = '@Url.Action("DeleteDiscount", "Discount")';

        function openDeleteModal(element) {
            const discountId = $(element).data("discount-id");
            $("#delete-modal").data("discount-id", discountId);
            $("#discount-id").val(discountId);
            $("#delete-modal").modal();
        }

        function deleteDiscount() {
            const selectedDiscountId = $("#discount-id").val();
            if (selectedDiscountId) {
                $.post(deleteDiscountUrl + '?discountId=' + selectedDiscountId, function () {
                    location.reload();
                });
            }
        }

        function closeModal() {
            $("#delete-modal").modal('hide');
        }

    </script>
}
